html, body {
background-color: #1b154e;
color: #cdc9fc;
height: 100%;
}

/*
HEADER CONTENT || MENU AND NAVIGATION
*/
.header {
    height: 10%;
}

/*
PRIMARY CONTENT || HOMEPAGE
*/
.content {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
For the logo and Name
*/
.content > .title {
    height: 80%;
    align-self: center;
    justify-content: center;
    align-self: center;
}

.content > .title img {
    height: 100%;
    width: auto;
}

/*
For the icon list
*/
.content > .homeIcons {
    width: 50%;
    height: 20%;
}

.content > .homeIcons ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
}

.content > .homeIcons ul li {
    width: 5%;
    height: 5%;
    background-color: #cdc9fc;
}

.content > .homeIcons ul li img {
    width: 100%;
    height: auto;
}


/*
FOOTER CONTENT || CREDITS
*/
.footer {
    height: 10%;
}