body {
    background-color: #1b154e;
    color: #cdc9fc;
}

.menu {
    background-color: #cdc9fc;
    list-style-type: None;
    text-decoration: None;
}

#content {
    width: 80%;
    background-color: aqua;
    background-image: "../images/logo.png";
}